body{
    margin: 0;
}

h1{
    text-align: center;

}
.text{
    max-width: 500px;
    margin: 10px auto;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.second table{
    border: 2px solid black;
    text-align: left;
    border-radius: 10px;
    border-spacing: 10px;
    width: 80%;
    height: auto;
    margin: 100px auto;   
}

.second th, td{
    border: 4px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
}
.second td:first-child{
    font-weight: bold;
}
.second td:last-child{
    color: red;
    text-align: center;

}

.second thead{
    background-color: rgb(229, 126, 105);
}
.second tbody{
    background-color:rgb(229, 175, 105);
}

.second .table2 td:nth-child(3){
    text-align: center;
    
}
.second .table3 tr:nth-child(3){
    text-align: center;    
}
.second .table3 tr{
    text-align: center;    
}
.second .table3 th{
    text-align: left;
}