:root{
    --nav: rgb(174, 173, 173);
    --header: rgb(91, 91, 91);
    --article:  rgb(230, 230, 230);
    --headerText: white;
    --border: lightcoral;
    --footer: gray;
}



*{

    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.wrapper{
    width: 80%;
    max-width: 85%;
    height: 80vh;
    margin:30px auto;
    border: 2px solid var(--border);
    box-shadow: 2px 2px 10px rgba(208, 81, 81, 0.49);
   
}
header{
    text-align: center;
    background-color: var(--header);
    padding: 1px;
    color:var(--headerText);
    font-size: 36px;
    width: 100%;
    height: 20%;
}

ul{
    list-style: none;
}
.wrapper section{     
    height: 70%;
}
.wrapper nav{
    
    float: left;
    height: 100%;
    width: 25%;
    background-color: var(--nav);
    padding: 60px 0;
}

.wrapper article{
    float: left;
    width: 75%;
    background-color: var(--article);
    padding: 20px;
    height: 100%;
}

/* .wrapper section::after{
    content: "";
    display: table;
    clear: both;
} */

.wrapper footer{
    background-color:var(--footer);
    text-align:  center;
    color: var(--headerText);
    padding: 30px;
    height: 10%;
}

/* This is for the display flex*/

.fwrapper{
    width: 80%;
    max-width: 85%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin:30px auto;
    border: 2px solid var(--border);
    box-shadow: 2px 2px 10px rgba(208, 81, 81, 0.49);
   
}

.fsection{
    display: flex;
    height: 70%;
}
.fnav{
    flex: 25%;
    background-color: var(--nav);
    height: 100%;
    padding: 60px 0;
}
.farticle{
    flex: 75%;
    height: 100%;
    padding: 20px;
    background-color: var(--article);
}

.ffooter{
    color: var(--headerText);
    background-color: var(--footer);
    height: 10%;
    text-align: center;
    padding-top: 30px;
}


@media  (max-width: 800px) {
   .wrapper nav, .wrapper article{
        width: 100%;
        height: 50%;
           
    }
    .fsection{
        flex-direction: column;
    }
   
    
}